language: bash
services: docker

env:
 - POSTGIS_MAJOR=3 POSTGIS_VERSION=3.0.1+dfsg-2.pgdg100+1 PG_MAJOR=12.2 VARIANT=slim

script:
  - ./scripts/cibuild

deploy:
  - provider: script
    script: "scripts/cipublish"
    on:
      repo: vividfinancepg/docker-postgis
      branch: master
